.remarcar{
    background-color: yellow;
}
.remarcar2{
    background-color: red;
}
img{
    display: block;
    margin: auto;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
.jumbotron{
width: 100%;
}