
<main role="main">
  <section class="jumbotron ">
    <div class="container">
      <div class="row">
          <h1 class="display-9">{{ titulo }}</h1>
          <img src="assets/img/flujo.png"  alt="Diagrama del flujo de la informacion" /> 

          <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
              <div class="col px-0">
                <h3 class="display-5 font-italic">Propiedades</h3>
                <p class="lead my-9"> Era el caso de la propiedad "hidden" que usamos para mostrar / ocultar
                    determinados elementos. En este caso, hidden no es una propiedad
                    estándar del HTML, sino que está generada por Angular 2 y disponible
                    para aplicar tanto en etiquetas HTML comunes como en componentes
                    personalizados.</p>
                <p class="text-success" [hidden]="!visible" >Adiós</p>

                <p class="lead my-3"> También podríamos aplicar valores a atributos del HTML con datos que
                    están en propiedades del modelo, aunque no soporta todos los atributos
                    del HTML estándar. Por ejemplo, podríamos asignar una clase CSS (class)
                    con lo que tuviésemos en una propiedad del modelo llamada "clase".</p>

                <p class="lead my-3"> Lo que de momento debe quedar claro es que las propiedades van desde el
                  modelo a la vista y, por tanto, si se modifica el valor de una propiedad
                   en el modelo, también se modificará la vista. P</p>
                   <div [class]="clase">"Una clase marcada por el modelo"</div>
              </div>
          </div>


          <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
          <div class="col px-0">
              <h3 class="display-5 font-italic">Eventos</h3>
              <p class="lead my-9"> cuando asociamos un
                  comportamiento al botón. Indicamos entre paréntesis el tipo de evento y como valor el código que se debe
                  de ejecutar, o mejor, la función que se va a ejecutar para procesar el evento.</p>
              <button (click)="showHide()">{{ textoBotton }} adios</button>
              <p class="text-success" [hidden]="!visible" >Adiós</p>
          </div>
        </div>

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
            <div class="col px-0">
                <h3 class="display-5 font-italic">Doble Bidding o Banaba In A Box</h3>
                <p class="lead my-9"><b>IMPORTANTE</b> Ten muy en cuenta que para poder usar ngModel
            necesitas importar un módulo adicional, disponible mediante el propio
            Angular, pero que no viene cargado por defecto. Esto ocurre desde
            Angular 4. Ahora, cuando quieras usar la directiva ngModel tendrás que
            hacer el import de <b>FormsModule</b>dentro de <b>app.module.ts</b></p>
                <input type="text" [(ngModel)]="nombre" />
                <p class="text-success" > Nombre: {{ nombre }} </p>
            </div>
        </div>

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
            <div class="col px-0">
                <h3 class="display-5 font-italic">Expresiones</h3>
                <p class="lead my-9">No solo sirve para pintar variables desde el modelo.</p>
                <p class="lead my-9">Tambien permite usar expresiones dentro: 1 + 1 = {{ 1 + 1 }}</p>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>