<main role="main">
    <section class="jumbotron text-center ">
        <div class="container ">
                <div class="row justify-content-center">
                        <div class="col-3">
                                <ul class="list-group">
                                    <li *ngFor="let f of frutas" (click)="seleccionar(f)" class="list-group-item" [class.active]="f == f1 || f == f2" >{{f.nombre}}</li>         
                                  </ul>
                            </div>
                    <div class="col-4"><app-fruta-card [_fruta]="f1" [_fruta2]="f2" ></app-fruta-card></div>
                    <div class="col-4"><app-fruta-card [_fruta]="f2" [_fruta2]="f1"></app-fruta-card></div>
                    
                 </div> 
          </div>
            
    </section>
</main>