 
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Alumno Components</h1>
            <p class="lead text-muted">Componente generado con el siquiente comando</p>
            <p><code>ng generate component alumnos {{titulo}}</code></p>
            <code>ng g c alumnos {{titulo}}</code>
            <p>*recordar declararlo en app.module.ts</p>
            <h3 class="font-italic">Listado de alumnos</h3>
            <p class="lead text-muted">Usamos la directiva +ngFor para iterar sibre el array de alumnos</p>
            <ol>
                <li *ngFor= "let a of alumnos">{{a}}</li>
            </ol>
        </div>
            
    </section>
</main>