<main role="main">
    <section class="jumbotron text-center">
            <div class="container">
                <div>Bucador: <input [(ngModel)]="texto" placeholder="Inserte nombre fruta"></div>
                <div><input type="checkbox" [(ngModel)]="oferta"> Solo Ofertas</div>
                <a class="btn btn-primary float-right" [routerLink]="['../detalle', -1 ]" >Crear Nueva Fruta</a>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Calorias</th>
                        <th scope="col">Oferta</th>
                        <th scope="col">Descuento</th>
                        <!--<th scope="col">Color</th>-->
                        <th scope="col">Img</th>
                        <th scope="col">Accion</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr destacar *ngFor="let fruta of frutas | filter: texto | filterOferta: oferta">
                        <th scope="row"></th>
                        <td><a [routerLink]="['../detalle', fruta.id ]">{{fruta.nombre}}</a></td>
                        <td>{{fruta.precio}} €</td>
                        <td>{{fruta.calorias}} Kcal</td>
                        <td>{{fruta.oferta}}</td>
                        <td>{{fruta.descuento}} %</td>
                        <!--<td>{{fruta.color}}</td>-->
                        <td><img src="{{fruta.img}}" alt="imagen destacada" class="imagenEstilo"/></td>
                        <td> <i class="fas fa-trash-alt text-danger" (click)= "eliminar(fruta.id)"></i></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
    </section>
  </main>

  
  