<main role="main">
    <section class="jumbotron">
        <div class="container">
          
            <div class="row">
              <div class="col ">

                <h1 class="display-9">{{ titulo }}</h1>
                <p class="lead text-muted"> Componente para aprender a usar una CLASS o POJO <b> model/videojuego.ts</b></p>
                <p class="lead text-muted"> Vamos a guardar todas las clases en la carpeta <b>model</b></p>
              
    
                <h3>Maquetación del Objeto</h3>

                <div class="card " style="width: 18rem;">
                  <span class="badge badge-{{(videojuego.alquilado)?'danger':'success'}}">{{
                    videojuego.alquilado ? "Alquilado" : "Disponible"
                  }}</span>
                  <span class="badge badge-primary">{{ videojuego.anyo }}</span>
                  <img
                    class="card-img-top"
                    src="{{videojuego.imagen}}"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <div class="row">
                      <div class=" col card-title">{{ videojuego.titulo }}</div>
                      <div class="col d-flex justify-content-around">
                        {{ videojuego.precio }}€
                      </div>
                    </div>
                    <p class="card-text">{{ videojuego.descripcion }}</p>
                  </div>
                </div>
              </div>
            </div>
         
            <div class="row">
                
            
               
                <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
                    <div class="col px-0">
                      <h3 class="display-5 font-italic">Detalle del objeto</h3>
                      <p class="lead my-9"> Usamos el <b> pipe Json</b> para mostrar el objeto,siempre para depurar. </p>
                      <p class="text-success">{{ videojuego | json }}</p>
                    </div>
                </div>

                
                <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
                    <div class="col px-0">
                      <h3 class="display-5 font-italic">Ejercicio 1 Personas</h3>
                      <ol>
               
                          <li>Sacar por pantalla la persona por defecto</li>
                          <li>Sacar por pantalla el compañero de la derecha</li>
                          <li>Sacar por pantalla Yo</li>
                        </ol>

                        <h5>Sacar por pantalla la persona por defecto</h5>
                        <p class="text-success"> Nombre : {{ personaDefecto.nombre }} {{ personaDefecto.apellidos }} </p>
                        <p class="text-success"> Edad: {{ personaDefecto.edad }} </p>
                        <p class="text-success"> Email: {{ personaDefecto.email }} </p>
                        <p class="text-success"> Sexo: {{ personaDefecto.sexo }}</p>

                        <h5>Sacar por pantalla el compañero de la derecha</h5>
                        <p class="text-success"> Nombre :{{ alain.nombre }} {{ alain.apellidos }} </p>
                        <p class="text-success"> Edad: {{ alain.edad }} </p>
                        <p class="text-success"> Email:{{ alain.email }} </p>
                        <p class="text-success"> Sexo: {{ alain.sexo }}</p>

                        <h5>Sacar por pantalla Yo</h5>
                        <p class="text-success"> Nombre :{{ yo.nombre }} {{ yo.apellidos }}</p>
                        <p class="text-success"> Edad: {{ yo.edad }}</p>
                        <p class="text-success"> Email:{{ yo.email }}</p>
                        <p class="text-success"> Sexo: {{ yo.sexo }}</p>
                    </div>
                </div>
        </div>  
      </div> 
    </section>
</main>





  
