<main class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 ">
    <a class="navbar-brand" [routerLink] = "['comparador']"><img src="assets/img/logo.png" height="54px" alt="logotipo-supermercado-el-fuerte" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"[routerLink] = "['comparador']">Comparador</a>
       </li> 
       <li class="nav-item">
        <a class="nav-link"[routerLink] = "['crud']">Listado Frutas</a>
      </li>  
      </ul>
      
<app-login></app-login> 
    </div>
  </nav>
</main>



  
<main class="container">
  <!--Donde se carga cada componente en funcion de la ruta-->
    <router-outlet></router-outlet>
</main>
  <!--The content below is only a placeholder and can be replaced.-->



