<main class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 ">
    <a class="navbar-brand" [routerLink] = "['home']"><img src="assets/img/logo.png" height="54px" alt="logotipo-supermercado-el-fuerte" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['home']">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Componentes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink] = "['array']">1º Componente Fruta</a>
            <a class="dropdown-item"[routerLink] = "['clase']">2º Componente Alumno</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink] = "['flujo']">Flujo Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink] = "['fruta']">Fruta Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink] = "['comparador']">Comparador Componente</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link"[routerLink] = "['videojuego-detalle']">Videojuego Detalle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"[routerLink] = "['pipe']">Pipes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"[routerLink] = "['tareas']">Tareas</a>
            </li>
      </ul>
    </div>
  </nav>
</main>
  
<main class="container">
  <!--Donde se carga cada componente en funcion de la ruta-->
    <router-outlet></router-outlet>
</main>
  <!--The content below is only a placeholder and can be replaced.-->



