
 
<main role="main">
  <section class="jumbotron text-center">
      <div class="container">
        <p>
          Ejemplo de crear un <b>Provider</b> o Servide para realizar las operaciones de CRUD contra un <b>Servicio-Rest</b>
          </p>
          

          <div class="toggle-button toggle-button--aava">
              <input id="toggleButton"  (change)= "filtrar()"  type="checkbox">
              <label for="toggleButton" data-on-text="Pendiente" data-off-text="Todas"></label>
              <div class="toggle-button__icon"></div>
          </div>


           
                
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="nueva" class="form-control" placeholder="Descripción">
                    <div class="input-group-append">
                      <button (click)="nuevaTarea()" class="btn btn-outline-secondary" type="button">Nueva Tarea</button>
                    </div>
                </div>

         <ul class="list-group">
           <li class="list-group-item" *ngFor="let tarea of tareas | completas : todas">
             <input type="checkbox" checked="{{tarea.terminado ? 'checked': '' }}" (change)="terminar(tarea)">
              <span *ngIf="!tarea.terminado">&nbsp;{{tarea.titulo}}</span>
              <span *ngIf="tarea.terminado">&nbsp;<del>{{tarea.titulo}}</del></span>
              <i class="fas fa-trash-alt" (click)= "eliminar(tarea.id)"></i>
           </li>
         </ul>


      </div>
          
  </section>
</main>
