<h1>Formulario Reactivo</h1>
<a href="https://angular.io/guide/reactive-forms" target="_blank">Documentacion oficial</a>
<hr>

<div class="row">
    <button class="btn" (click)="caragarFormulario()">Cargar Formulario</button>
</div>

<div>
  <p>Values:{{formulario.value |json}}</p>
  <p>Estado:{{formulario.status |json}}</p>
</div>

 

    
  <!--Impotante desactivar las validacion en html5 -->
<form [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>

  <div class="form-row">

      <div class="form-group col-md-4">
        <label for="nombre"> Nombre: </label>
        <input type="text" formControlName="nombre" class="from-control">
        <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched " class="form-text text-danger">Minimo 2 Letras y Maximo 50 Letras.</small>
        <small *ngIf="formulario.controls.nombre.valid" class="form-text text-succes">Correcto</small>
    </div>

    <div class="form-group col-md-4">
        <label for="precio"> Precio: </label>
        <input type="text" formControlName="precio" class="from-control">
        <small class="form-text text-danger">Errores de validaciones para precio.</small>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="calorias"> Calorias: </label>
        <input type="text" formControlName="calorias" class="from-control">
        <small class="form-text text-danger">Errores de validaciones para calorias.</small>
    </div>

    <div class="form-group col-md-4">
        <label for="color"> Color: </label>
        <input type="text" formControlName="color" class="from-control">
        <small class="form-text text-danger">Errores de validaciones para color.</small>
    </div>
  </div>




  <div class="form-row">
      <div class="form-check col-md-4">
        <label  class="form-check-label" for="oferta"> Oferta: </label>
        <input type="checkbox" formControlName="oferta" class="from-control">
    </div>

    <div [hidden]="!formulario.controls.oferta.value" class="form-group col-md-4">
        <label for="descuento"> Descuento: </label>
        <input type="text" formControlName="descuento" class="from-control">
        <small class="form-text text-danger">Errores de validaciones para descuento.</small>
    </div>
  </div>

    <div class="form-group">
        <label for="img"> Imagen: </label>
        <input type="text" formControlName="img" class="from-control">
        <small class="form-text text-danger">Errores de validaciones para imagen.</small>
    </div>



    <input type="submit" value="crear" class="btn btn-success" [disabled] = "formulario.status === 'INVALID'">
</form>
 