
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">

       
               

            <div class="row">
              <div class="col" *ngFor="let fruta of frutas">
                  <app-fruta-card [_fruta]= "fruta"></app-fruta-card>
              </div>
              </div>


              <div class="row">
                <div class="col">
                        <h4>Precio total</h4>
                        <ol>
                        <li>{{preciototal}}</li>
                        </ol>
                        <h4>Nombre Frutas</h4>
                        <ol>
                        <li>{{nombrefrutas}}</li>
                        </ol>
                        <h4>Frutas Oferta</h4>
                        <ol>
                        <li>{{frutasoferta}}</li>
                        </ol>
                  <h4>Lista Frutas</h4>
                  <ol>
                    <li *ngFor="let f of frutas ">{{ f.nombre }}</li>
                  </ol>
                  <h4>Futa Primera Oferta</h4>
                    <li>{{ frutaPrimeraOferta.nombre }}</li>
                  <ol>
                    <h4>Futa Primera Color</h4>
                    <li>{{ frutaPrimeraColor.nombre }}</li>

                  </ol>
                </div>
              </div>
        </div>
            
    </section>
</main>