



<div *ngIf="mensaje" class="alert alert-success" role="alert">{{mensaje}}</div> 
<div class="container py-3">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 mx-auto">
      <div id="pay-invoice" class="card">
        <div class="card-body">
            <div class="card-title"><h2 class="text-center" *ngIf="fruta.id < 0">Crear Fruta</h2></div>
          <div class="card-title"><h2 class="text-center" *ngIf="fruta.id > 0"  >Modificar {{fruta.nombre}}</h2></div>
          <hr />
          <!-- Impotante desactivar las validacion en html5 -->
          <form class="form" [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label" for="nombre">Nombre:</label>
              <div class="col">
                <input type="text" formControlName="nombre" class="from-control col-10" />
                <small *ngIf=" formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Minimo 2 Letras y Maximo 100 Letras.</small>
                <small *ngIf="formulario.controls.nombre.valid" class="form-text text-success" >Correcto</small>
              </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label" for="precio"> Precio: </label>
            <div class="col">
                <input type="number" formControlName="precio" class="from-control col-10" min="0.1" max="999" step="0.1" />
                <small *ngIf=" formulario.controls.precio.invalid && formulario.controls.precio.touched" class="form-text text-danger">Minimo 0.1 numero y Maximo 999 numeros.</small>
                <small *ngIf="formulario.controls.precio.valid" class="form-text text-success">Correcto</small>
            </div>  
        </div>

         <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label" for="calorias"> Calorias: </label>
            <div class="col">
                <input type="number" formControlName="calorias" class="from-control col-10" min="0.1" max="9999" step="0.1" />
                <small *ngIf=" formulario.controls.calorias.invalid && formulario.controls.calorias.touched" class="form-text text-danger">Minimo 0.1 numero y Maximo 9999 numeros.</small>
                <small *ngIf="formulario.controls.calorias.valid" class="form-text text-success">Correcto</small>
            </div>  
        </div>

        <div class="form-group row">
        
                <label  class="col-lg-3 col-form-label form-control-label">Colores</label>
                <i class="fas fa-plus-square" (click)="nuevoColor()" >  </i>
        
                <div formArrayName="color">
                  <div *ngFor="let colores of formulario.get('color').controls; let i = index">
                    <div [formGroupName]="i">
                      <input formControlName="colores" /> 
                      <i class="fas fa-minus-circle" (click)="eliminarColor(i)"></i>
                      <small *ngIf=" formulario.controls.color.invalid && formulario.controls.color.touched" class="form-text text-danger">Minimo 1 caracter</small>
                    </div>
                  </div>
                </div>
        </div>
      

        <div class="form-group row">
              <div class="form-check col-md-4">
                <label class="form-check-label" for="oferta"> Oferta: </label>
                <input type="checkbox" formControlName="oferta" class="from-control"/>
              </div>

              <div [hidden]="!formulario.controls.oferta.value" class="form-group col-md-4" >
                <label for="descuento"> Descuento: </label>
                <input type="number" formControlName="descuento" class="from-control" min="5" max="90" step="5"/>
              </div>
        </div>

        <div class="form-group row">
 
            <div class="input-group">
              <label  class="col-lg-3 col-form-label form-control-label"  for="img"> Imagen: </label>
              <img src="{{formulario.controls.img.value}}" alt="imagen destacada" class="/"/>
            </div>
            
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">IMAGEN URL</span>
                </div>
                  <input type="text" class="form-control" formControlName="img" placeholder="url imagen con extension png, jpg, jpeg" id="basic-url" aria-describedby="basic-addon3"><br>
                  <small *ngIf="formulario.controls.img.invalid && formulario.controls.img.touched" class="form-text text-danger"> Que empieze por Https o Http y la imagen con extension png, jpg, jpeg.</small>
                  <small *ngIf="formulario.controls.img.valid" class="form-text text-success" >Correcto</small>  
              </div>

            <input type="submit" [disabled]="formulario.status==='INVALID'" *ngIf="fruta.id > 0" value="modificar"  class="btn btn-success" />
            <input type="submit" [disabled]="formulario.status==='INVALID'" *ngIf="fruta.id < 0" value="crear"  class="btn btn-success" />
        </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</div>