/* You can add global styles to this file, and also import other style files */
app-fruta{
    display: block;
}
.container{
    margin-bottom: -24px;
}
footer{
    background: #343a40;
    max-width: 1114px;
    margin: auto;
    color: blanchedalmond;
    margin-top: 22px;
}