<h2 class="text-info">Pipes</h2>
<a href="https://angular.io/guide/pipes"
  >Documentacion Oficial de Angular sobre Pipes
</a>
<a href="https://angular.io/api?type=pipe">Api para Rest</a>
<p>
  En Angular 2 lo pipes o filtros nos permiten alterar la forma en la que se van
  a visualizar datos. Podemos los definidos por Angular o crear los nuestros
</p>
<h3 class="text-info">Pipes de Angular</h3>
<p>upercase {{ "TodoEnMayusculas" | uppercase }}</p>
<p>lowercase {{ "TodoEnMinusculas" | lowercase }}</p>
<p><b>Fecha sin pipe</b> {{ fecha }}</p>
<p><b>Fecha con pipe</b> {{ fecha | date }}</p>
<p><b>Fecha date: "dd-MM-yyyy"</b> {{ fecha | date: "dd-MM-yyyy" }}</p>
<p><b>Numero sin pipe</b> {{ numero }}</p>
<p><b>Numero con pipe number '1.2-2'</b> {{ numero | number: "1.2-2" }}</p>
<p><b>Numero con pipe number '1.2-2':'es-ES'</b>{{ numero | number: "1.2-2":"En" }}
  <span>No tenemos locale para castellano, mirar consola el error></span>
</p>
<h3>Pies Propios</h3>
<div class="col">
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/bDcD0Cqx6io"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
</div>
<div class="row">
  <h4>Datos con pipes JSON</h4>

  {{ videojuegos | json }}
</div>

<div class="row">
  <div class="col">
    <h4>Lista Video juegos</h4>
    <ol>
      <li *ngFor="let v of videojuegos ">{{ v.titulo }} - {{v.alquilado}}</li>
    </ol>
  </div>
  <div class="col">
    <h4>  Listado Alquilados </h4>
        <ol>
            <li *ngFor="let v of videojuegos | alquilado:true">{{ v.titulo }} - {{v.alquilado}}</li>
          </ol>
 
  </div>
  <div class="col">
    <h4>Lsitado Disponibles</h4>
    <ol>
        <li *ngFor="let v of videojuegos| alquilado:false">{{ v.titulo }} - {{v.alquilado}}</li>
      </ol>
  
  </div>
</div>
