
<h2 class="text-info">Pipes</h2>
<a href="https://angular.io/guide/pipes">Documentacion Oficial de Angular sobre Pipes </a>
<p> En Angular 2 lo pipes o filtros nos permiten alterar la forma en la que se van a visualizar datos. Podemos los definidos por Angular o crear los nuestros </p>
<h3 class="text-info">Pipes de Angular</h3>
<p>upercase {{ "TodoEnMayusculas" | uppercase }}</p>
<p>lowercase {{ "TodoEnMinusculas" | lowercase }}</p>
<p><b>Fecha sin pipe</b> {{ fecha }}</p>
<p><b>Fecha con pipe</b> {{ fecha | date }}</p>
<p><b>Fecha date: "dd-MM-yyyy"</b> {{ fecha | date:"dd-MM-yyyy" }}</p>
<p><b>Numero sin pipe</b> {{ numero }}</p>
<p><b>Numero con pipe number '1.2-2'</b> {{ numero | number:'1.2-2'}}</p>
<h3>Pies Propios</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bDcD0Cqx6io" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>